@* @model ApplicationUser *@
@model IEnumerable<ApplicationUser>
@{
    // var artistProduct = ViewBag.ArtistProduct;
    var artistProduct = ViewBag.ArtistProduct as IEnumerable<Product>;
    var artistService = ViewBag.ArtistService as IEnumerable<Service>;

    //var ArtistEarning = ViewBag.ArtistEarning;

    // var artistServicesObjectCoubt = ViewBag.ArtistServicesObjectCoubt;

}



@* <h3>@ViewBag.Artist</h3> *@
<div class="container">
    <!-- =============== Navigation ================ -->
    <!-- <div class="navigation">
        <ul>
            <li>
                <a asp-action="Details">

                    <span class="icon" id="Artist-Pic">
    @* @if (string.IsNullOrEmpty(@Model.UserImage)) *@
                        {
                            <i class="bi bi-person-circle iconAccount"></i>
                        }
                        else
                        {
    @* <img src="~/Image/ArtistPic/@Model.UserImage" alt="@Model.Fname" /> *@
                        }

                    </span>
    @* <span class="title">@Model.FName +" "+ @Model.LName <br><span class="artistEmail">@Model.Email </span></span> *@
                </a>
            </li>

            <li>
                <a asp-action="Home">
                    <span class="icon"> <i class="fa-solid fa-table-columns"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a asp-action="Home">
                    <span class="icon"> <i class="fa-solid fa-user"></i> </span>
                    <span class="title">Profile</span>
                </a>
            </li>

            <li>
                <a asp-action="Home">
                    <span class="icon"> <i class="fa-solid fa-sort"></i> </span>
                    <span class="title">Orders</span>
                </a>
            </li>

            <li>
                <a asp-action="Home">
                    <span class="icon"> <i class="fa-solid fa-message"></i> </span>
                    <span class="title">Messages</span>
                </a>
            </li>

            <li>
                <a asp-action="Home">
                    <span class="icon"> <i class="fa-solid fa-sitemap"></i> </span>
                    <span class="title">Product</span>
                </a>
            </li>

            <li>
                <a asp-action="Home">
                    <span class="icon"> <i class="fa-solid fa-headset"></i> </span>
                    <span class="title">Support</span>
                </a>
            </li>

            <li>
                <a asp-action="Home">
                    <span class="icon"> <i class="fa-solid fa-arrow-right-from-bracket"></i> </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div> -->
    <!-- ========================= Main ==================== -->
    <!-- ======================= Cards ================== -->
    <div class="cardBox">
        <div class="card">
            <div class="cardComtainer">
                <div class="cardName">Earning</div>
                <div class="numbers">@* $ ArtistEarning *@</div>
            </div>

            <div class="iconBx">
                <i class="fa-solid fa-money-check"></i>
            </div>
        </div>

        <div class="card">
            <div class="cardComtainer">
                <div class="cardName">Sales</div>
                <div class="numbers">@* @artistServicesObjectCoubt *@ </div>
            </div>

            <div class="iconBx">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>

    </div>

    <!-- ================ Services Details List ================= -->
    <div class="">
        <div class="details d-flex justify-content-between">
        <div class="recentServices mx-2 shadow">
            <div class="cardHeader">
                <h4>Recent Services</h4>
                @* Edit this later *@
                @* <a href="#" class="btn">View All</a> *@
            </div>
            @if (artistService != null && artistService.Count() > 0)
            {
                <table>
                    <thead>
                        <tr>
                            <td>Description</td>
                            <td>Price</td>
                            <td>Status</td>
                           

                            @* <td><span class="status delivered"></span></td> *@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var service in artistService)
                        {
                            <tr>
                                <td>@service.Description</td>
                                <td>@service.Price</td>
                                <td>@service.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4>  No Services Available </h4>
            }
            
        </div>
    
        <!-- ================= My Product ================ -->
        <div class="recentProduct mx-2 shadow ">
            <div class="cardHeader">
                <h4>Recent Product</h4>
            </div>
            @if (artistProduct != null && artistProduct.Count() > 0)
            {
            <table>
                    <thead>
                        <tr>
                            <td>Product Name</td>
                            <td>Quantity</td>
                            <td>Product Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in artistProduct)
                        {

                            <tr>
                                @foreach (var prod in product.Images)
                                {
                                <td width="60px">
                                    @* ProductPic *@
                                    <div class="imgBx">
                                        <img src="~/Files/Images/@prod.ProductImages" alt="@product.ProductName" />
                                    </div>
                                </td>
                                }
                                <td>
                                        <h5>@product.ProductName  <span>@product.Quantity</span> $ @product.ProductPrice</h5>
                                </td>
                            </tr>
                        }
                        
                    </tbody> 

                </table>
            }
            else
            {
                <h4>  No Products Available </h4>
            } 
        </div>
        </div>
    </div>
</div>


